<h4>Super Paypal(prueba show)</h4>

<div class="row">	
	<div class="col-md-4 mb-4">
		<h5>Datos Cliente</h5>
		<div class="card">
			<div class="card-body text-center">	
				<h5 class="card-title"> <%= current_user.email %> </h5>
				<p class="card-text"> <%= @contract.weight %> </p>
				<p class="card-text"> <%= @contract.height %> </p>
				<p class="card-text"> <%= @contract.activity_level %> </p>
				<p class="card-text"> <%= @contract.fat_percentage %> </p>
				<p class="card-text"> <%= @contract.bmi %> </p>
				<p class="card-text"> <%= @contract.disease %> </p>
				<p class="card-text"> <%= @contract.allergies %> </p>
				<p class="card-text"> <%= @contract.bmr %> </p>
				<p class="card-text"> <%= @contract.karvonen %> </p>
				<p class="card-text"> <%= @contract.heart_rate %> </p>
				<p class="card-text"> <%= @contract.goal %> </p>
		 	</div>
		</div>
	</div>
</div>